<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reclama Brasil</title>
    <meta name="description" content="Projeto X">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <img src="img/exclamacao.png" alt="Logo">
            <div class="header-infos">
                <nav class="menu">
                    <ul>
                        <li><a href="#">sobre</a></li>
                        <li><a href="#">últimas reclamações</a></li>
                        <li><a href="#">reclame agora</a></li>
                    </ul>
                </nav>
                <div class="btn-act">
                    <button>Entrar</button>
                    <button>Cadastrar</button>
                </div>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="container">
            <h2>Como Funciona?</h2>
            <div class="about-list">
                <p>Escreva a sua reclamação e direcionamos para o órgão público responsável</p>
                <p>Receba a resposta através da nossa plataforma</p>
                <p>Ajude a melhorar nossa comunidade</p>
            </div>
        </div>
    </section>

    <section class="orientation">
        <div class="container">
            <h2>Orientações</h2>
            <p>Este é um projeto beta e estamos buscando levar os problemas que todos nós enfrentamos no dia-a-dia. Como
                somos uma iniciativa própria, não podemos garantir a solução das reclamações postadas, porém nosso
                objetivo é que todas as reclamações sejam direcionadas e enviadas aos órgão públicos responsáveis.
                Gostariamos de salientar que não possuimos nenhum vinculo politico, estamos em juntos para melhorar
                nossa cidade.</p>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div>
                <ul>
                    <li>Fale Conosco</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div>
                <img src="#" alt="logo">
            </div>
        </div>
    </footer>

</body>

</html>