<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reclama Brasil</title>
    <meta name="description" content="Projeto X">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header-top">
                <img src="../../public/img/exclamacao.png" alt="Logo">
                <div class="search-container">
                    <input type="text" placeholder="Pesquisar...">
                    <button type="submit">🔎</button>
                </div>
                <div class="btn-act">
                    <button>Entrar</button>
                    <button>Cadastrar</button>
                </div>
            </div>
            <div class="header-infos">
                <nav class="menu">
                    <ul>
                        <li><a href="#">sobre</a></li>
                        <li><a href="#">últimas reclamações</a></li>
                        <li><a href="#">reclame agora</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="about">
        <div class="container">
            <h2>Como Funciona?</h2>
            <div class="about-list">
                <p><img src="../../public/img/num1.png" alt="">Escreva a sua reclamação e direcionamos para o órgão público</p>
                <p><img src="../../public/img/num2.png" alt="">Receba a resposta através da nossa plataforma</p>
                <p><img src="../../public/img/num3.png" alt="">Ajude a melhorar nossa comunidade</p>
            </div>
        </div>
    </section>

    <section class="orientation">
        <div class="container">
            <h2>Orientações</h2>
            <p>Este é um projeto beta e estamos buscando levar os problemas que todos nós enfrentamos no dia-a-dia. Como
                somos uma iniciativa própria, não podemos garantir a solução das reclamações postadas, porém nosso
                objetivo é que todas as reclamações sejam direcionadas e enviadas aos órgão públicos responsáveis.
                Gostariamos de salientar que não possuimos nenhum vinculo politico, estamos em juntos para melhorar
                nossa cidade.</p>
        </div>
    </section>

    <section class="complaint">
        <div class="container">
            <ul class="complaint-list">
                <li>
                    <h3>Título reclamação</h3>
                    <p>Conteúdo reclamação Conteúdo reclamação Conteúdo reclamação</p>
                    <a href="#">Leia mais...</a>
                </li>
                <li>
                    <h3>Título reclamação</h3>
                    <p>Conteúdo reclamação Conteúdo reclamação Conteúdo reclamação</p>
                    <a href="#">Leia mais...</a>
                </li>
                <li>
                    <h3>Título reclamação</h3>
                    <p>Conteúdo reclamação Conteúdo reclamação Conteúdo reclamação</p>
                    <a href="#">Leia mais...</a>
                </li>
                <li>
                    <h3>Título reclamação</h3>
                    <p>Conteúdo reclamação Conteúdo reclamação Conteúdo reclamação</p>
                    <a href="#">Leia mais...</a>
                </li>
                <li>
                    <h3>Título reclamação</h3>
                    <p>Conteúdo reclamação Conteúdo reclamação Conteúdo reclamação</p>
                    <a href="#">Leia mais...</a>
                </li>
                <li>
                    <h3>Título reclamação</h3>
                    <p>Conteúdo reclamação Conteúdo reclamação Conteúdo reclamação</p>
                    <a href="#">Leia mais...</a>
                </li>
            </ul>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div>
                <ul>
                    <li><a href="#">Fale Conosco</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div>
                <img src="../../public/img/exclamacao.png" alt="logo">
            </div>
        </div>
    </footer>

</body>

</html>